*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, sans-serif;

}

* {
    outline: 1px solid red;
}

.grid {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
}

.column {
    width: calc(100% / 2);
   
}

.double {
    width: calc(calc(100% / 2) * 2);
}

.triple{
    width: 55%;
}

header {
    background-color: black;
    height: 50%;
}

header img {
    background-color: black;
    width: 50%;
    width: 25%;
    height: 50%;
}

header img.column.one{
    width: 15%;
}

header img.column.two{
    width: 60%;
}


nav {
    padding: 1%;
    background-color: black;
}

nav a {
    color: white;
    padding: 8px;
}

.second a {
    padding: 10px;
}

h1{
    font-size: 36px;
}